<head>
    <link rel="stylesheet" href="/css/instruction.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img src="/image/XYZUniversity.png" style="width: 160px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/postgraduation">Cources Offered</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
        </ul>
        <div class="site-info">
            <p>Higher Education Department</p>
            <h3>Degree Colleges</h3>
        </div>
    </div>
</nav>


{{#each error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{this.msg}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}



<div class="container-fluid" style="padding-left: 0px;padding-top:1rem">
    <div class="row">
        <div>
            <div class="col">
                <table style="width: 100%; border:0" class="table table-striped">
                    <tbody>
                        <tr>
                            <td rowspan="3" valign="top">
                                <ul class="leftnav">
                                    <li>
                                        <center>
                                            <img src="../uploads/{{userData.profilepicture.data}}" alt="" height="80px" width="80px" alt="profile picture">
                                        </center>
                                    </li>
                                    <li>
                                        <center>
                                            <span style="font-size:19px;">
                                                <b>
                                                    <span>
                                                       {{user.applicantName}}
                                                    </span>
                                                    <br>
                                                    <span>
                                                        {{user.__v}}
                                                    </span>
                                                </b>
                                            </span>
                                        </center>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="/student/instruction">
                                            <i class="fas fa-tachometer-alt" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp;Dashboard
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="/student/upload_photo">
                                            <i class="fas fa-image" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Upload Photo & Signature
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a class="active" href="/student/upload_doc">
                                            <i class="fa fa-file-pdf" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Upload Documents
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="/student/show_Print_Form">
                                            <i class="fa fa-newspaper" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Print Form
                                        </a>
                                    </li>
                                    <li class="leftnavli">
                                        <a href="student/logout">
                                            <i class="fa fa-power-off" style="font-size:25px;"></i>
                                            &nbsp;&nbsp;&nbsp; Log out
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col" style="margin:auto;">
            <form action="/student/upload_doc" method="POST" enctype="multipart/form-data">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td colspan="4" bgcolor="#E5E5E5" style="text-align: center">
                                <b>
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    UPLOAD MARKSHEET & CERTIFICATE IN PDF FORMAT
                                    (* Marked are mandatory)
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 10pt; font-family: Arial">Upload 10th Certificate : * </span>
                            </td>
                            <td align="left">
                                <input type="file" name="tenthCertificate"
                                    id="ctl00_ContentPlaceHolder1_FileUpload1" required="" style="width:298px;">
                            </td> 
                            <td>
                               <a href="../uploads/{{userData.tenthCertificate.data}}" class="btn btn-info">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 10pt; font-family: Arial">Upload +2/Other Certificate : *
                                </span>
                            </td>
                            <td align="left">
                                <input type="file" name="twelfthCertificate" required=""
                                    id="ctl00_ContentPlaceHolder1_FileUpload1" style="width:298px;">
                            </td>
                            <td>
                                   <a src="../uploads/{{userData.twelfthCertificate.data}}" class="btn btn-info">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 10pt; font-family: Arial">Upload Graduation/Other Certificate :
                                    *
                                </span>
                            </td>
                            <td align="left">
                                <input type="file" name="graduationCertificate" required=""
                                    id="ctl00_ContentPlaceHolder1_FileUpload1" style="width:298px;">
                            </td>  
                            <td>
                                  <a src="../uploads/{{userData.graduationCertificate.data}}" class="btn btn-info">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 10pt; font-family: Arial">Upload Migration : </span>
                            </td>
                            <td align="left">
                                <input type="file" name="migration" required=""
                                    id="ctl00_ContentPlaceHolder1_FileUpload1" style="width:298px;">
                            </td>
                            <td>
                                   <a src="../uploads/{{userData.migration.data}}" class="btn btn-info">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="font-size: 10pt; font-family: Arial">Upload Aadhaar : * </span>
                            </td>
                            <td align="left">
                                <input type="file" name="adharCard" required=""
                                    id="ctl00_ContentPlaceHolder1_FileUpload1" style="width:298px;">
                            </td>
                            <td>
                                 <a src="../uploads/{{userData.adharCard.data}}" class="btn btn-info">View</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-left">
                                <span style="font-size: 9pt; font-family: Arial"><strong><em>Note: You can upload a PDF
                                            file.
                                            File size is not more than 1 MB</em></strong></span></td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <p><strong>A student has to read the following and has to give his/her acceptance by
                                        submitting the same before </strong>f<span class="auto-style4">inal
                                        submit.</span>
                                </p>
                                <textarea name="ctl00$ContentPlaceHolder1$txtdecr" rows="2" cols="20"
                                    readonly="readonly" id="ctl00_ContentPlaceHolder1_txtdecr"
                                    style="height:100px;width:90%;">A student has to read the following and has to give his/her acceptance by submitting the same before depositing of the fees

                                    GENERAL EXAMINATION SYSTEM

                                    The  DDCE,  Utkal  University  is  a  constituent  college  of  the  Utkal  University.  All  Degree /  Diploma  Examinations  are  conducted  by  the  Controller  of  Examinations,  Utkal  University.  Normal examination schedule has been indicated in the Academic Calendar (PG).  The  Controller  of  Examinations,  Utkal  University  publishes  a  general  schedule  of  all  University  Examinations  in  leading  local  dailies.  The  detailed  Program  of  various  examinations  are  also  communicated  to  all  affiliated  colleges  of  the  University. DDCE shall be the Centre of Examination for all courses. For BA/ B.Com. additional centers are arranged in select affiliated colleges.

                                    Centers of Examination are indicated along with the course details.  The  Controller  of  Examinations  and  the  Director,  DDCE  at  their  discretion  may  change  the  centre  of  examination  of  any  student.  At  the  time  of  admission,  the  students  are  required  to  fill  up  their  examination  forms online. They  are  required  to  deposit  the  Examination  Fees  as  per  instruction  from  DDCE.  For  all  other  examinations,  forms   are  filled  up  online six  months  before  the  scheduled  date.  Before  the  commencement  of  the  examination,  the  DDCE  issues  admit card specifying centre of examination online. Student is required to download the same.  In  case  of   any  discrepancy,  the  student  is required  to  report  to  the  DDCE  in  person.  Change  of  examination  centre  is  allowed  only  on  the  event  of   the  death  of  parent / legal  guardian    and /  or  Transfer  of  self  or  parents.  Besides  the  usual  fees  payable  to  the  University,  a  student  has  to  pay  a  sum  of  Rs. 100/-  to  DDCE  for  centre  change. Such  request  will  be  entertained  one  month  before  the  commencement  of  the  examination.  Permission  for  change  of  centre  is  given  purely  on  the  discretion  of  the  Director,  DDCE  and / or Controller  of  Examinations,  Utkal  University.  A  student  has  to  carry  the  DDCE  Identity  Card  to  the  centre  of  examination. For BA &amp; B.Com different centres are identified. For MA/M.Com/MSW /All Management courses and Computer Science courses DDCE shall be the centre.
                                    Candidates,  who  are  booked  under  malpractice  have  to  fill-up  the  repeat  exam.  form  with  an  undertaking  without   waiting  for  the  award  of  punishment.

                                    Arrangement for downloading admits cards have been introduced. Please visit www.ddceutkal.ac.in.  Arrangement for Online form fill up is under process. PLEASE NOTE DDCE WOULD NOT ISSUE any individual communication regarding examination. PLEASE DOWNLOAD ADMIT CARD &amp; PROGRAMME.

                                    CERTIFICATION

                                    The  University  registration  Number  is  issued  by  the  DDCE  on  behalf  of  the  Controller  of  Examinations,  Utkal  University . Students  passing  out  the  qualifying  examination  from  Boards  other  than  C.H.S.E.,  Orissa  and  OSTEC  are  required  to  submit  Migration  Certificate  along  with  the  application  form.  Migration  Certificate  is  issued   by  the  Controller  of  Examinations,  Utkal  University  on  payment  of  prescribed  fees  and  the  application  form  are  to  be  deposited  for  obtaining  the  same.

                                    Provisional Certificates and Mark Sheets are issued by the Controller of Examinations.  After  publication  of  result,  DDCE  would  dispatch  these  along with  the  C.L.C.  by registered post  to  the  concerned  student.  Issuance of C.L.C, is always subject to clearance of all dues.  Original  Degrees  /  Diplomas  are  issued  by  the  Controller  of  Examinations. One may download mark sheet from our website.
                                    Students  discontinuing  before  completion  of  any  course  are  to  apply  for  C.L.C.  in prescribed  forms,  to  the  DDCE .

                                    During the current session the submission of CLC /Migration are not mandatory.  However if a student seeks the same after completion of the admission then the CLC / Migration must have submitted in original at DDCE within one month from the date of admission.

                                    DUPLICATE REGISTRATION NO., CLC &amp; IDENTITY CARD

                                    For duplicate Registration Number a candidate is to pay Rs. 150/- and the Challan is to be made at Utkal University Counter.  For duplicate CLC an affidavit/ Self Declaration is required and a fee of Rs. 200/- is to be paid.
                                    Identity  Card  will  be  issued  to  the  student  on  completion  of admission  process.  Duplicate Identity Card will be issued on payment of Rs. 50/- with a self declaration.  If  a  student  applies  for  CLC  after  5  Years  from  the  completion  of  the  course  he / she  has  to  deposit  Rs.500/-  and  produce  an  affidavit/ self declaration  with  all  relevant  information / declaration.

                                    TRANSCRIPT

                                    Those seeking employment and admission outside India may require transcripts. They have to apply to the Controller of Examinations, Utkal University, Vani Vihar, Bhubaneswar - 751004. A fees of Rs 250(subject to change) is payable to the Comptroller of Finance  Utkal University through Bank challan at State Bank of India, Utkal University, Vani Vihar, Bhubaneswar. There are no ‘online’ arrangements. Students are advised to contact the office of Controller of Examination either personally or through their contacts at Bhubaneswar.

                                    MIGRATION

                                    Those who have received online Registration Number i.e. since 2011 admission Batch can receive their migration from Director, DDCE, Utkal University. Those who had joined as fresh students of Utkal University since 1997 can also receive their migration certificate from Director DDCE. All are required to E-Mail their application to helpline@ddceutkal.ac.in DDCE would guide them. Only e-applications shall be processed. They would be required to surrender their registration number and pay requisite fees of Rs 200/- at University.

                                    GENERAL AND EXAMINATION INSTRUCTIONS
                                    DDCE does not send information on Schedule of Examination by post. One has to visit website for all the notices.
                                    DDCE shall not be responsible for any postal delay.
                                    Telephonic enquiry cannot be treated as authentic. Notices in web and variations in web are only authentic.
                                    Fees once deposited cannot be refunded. DDCE will not be held responsible for any lapses on the bank/transfer of fees.  In case of any delay a student may verify the same at the branch of Canara bank ( e-Syndicate). You are requested to follow up by sending mail to helpline@ddceutkal.ac.in
                                    DDCE does not provide any Hostel Accommodation.
                                    DDCE does not provide placement service.
                                    DDCE does not lend books from its Library.
                                    DDCE does not provide any travel concession.
                                    Due to Covid-19 pandemic the Contact Classes may be conducted in the online mode.
                                    A student has to provide his/her own whatsapp number &amp;E- Mail id for attending the online Personal Contact Program (PCP).
                                    The PCP (Contact Class) will be conducted continuously/ on different dates/ different times (Morning 7 a.m to Evening 9 p.m).
                                    The detail schedule (Link/ Password) will be informed to the students in the website/whatsapp group/Mobile number.
                                    The classes will be conducted in Zoom App/ Google Meet App/ Microsoft Team/ YouTube App/Google Classroom App etc.
                                    The students are need to switch off their Audio and video during the online class for the smooth conduct of the class.
                                    The students are required to drop their questions and queries in the chart box and the same questions/ queries/ doubts will be resolved by the counselor during the class or the subsequent classes.
                                    The student has to carry an Android phone/Laptop with internet connectivity for attending the online PCP.
                                    DDCE does not provide entire course material. For language and literature subject student is required to procure the prescribed text. Partly course material is placed in our website. In place of printed material we provide at times DVDs/CDs.
                                    Our students do not receive any scholarship or stipend from Govt. Agency.
                                    Course Fees are not reimbursable from any other source.
                                    In those courses in which DDCE is unable to supply course material, the students are advised to attend PCP, as they will be compensated with notes in the given subject by the respective counselor’s.
                                    The PCP will be conducted only when the no. of students are more than 5, however in such case the coordinator may take the decision for conducting the contact classes in prior consultation of the counselor’s.
                                    DDCE does not conduct any Study tour and Picnic for the students.
                                    DDCE, Utkal University has been inspected by a joint team of UGC-AICTE-DEC in January 2013 and it stands recognized. Renewal granted up to 2019. M.A. sociology, Hindi and Public Administration await recognition and the process has been initiated.
                                    For update student must visit www.ddceutkal.ac.in.
                                    The last Date for depositing the readmission fees is 31stJuly every year. If the last Date is a holiday then the next day one can deposit the fees without fine. No notice shall be issued for this.
                                    For Fees deposited after the due date the candidate has to pay Rs.500/-in addition to the readmission fees.
                                    Please note that DDCE remains closed on all public holidays including every second Saturday of the month and all Sundays. We follow the Utkal University Holiday List (for its office).
                                    No additional sheet shall be provided. Your answer should be precise, to the point and you must use space judiciously. Additional margins must not be used. Your handwriting should be legible.
                                    No temporary absence is allowed during the first hour. For 3hr duration exam only 1 (max) and for a 4hr duration exam only 2 (max) temporary absence is allowed. You must not carry answer script or question paper outside the hall under any circumstances. Temporary absence beyond 5 minutes is not allowed. Temporary absence is permitted by the invigilator.
                                    No examinee should carry anything to the hall except pen, pencil, eraser, I-card, Admit card, permission letter, non- scientific calculator (where allowed), scale, purse, sharpener and refills. Carrying MOBILES PHONE OR ANY OTHER GADGET is strictly prohibited. DDCE has no arrangement for safekeeping of your mobiles. Placing mobiles/ bags etc. at a common identified place is at your own risk. DDCE shall bear no responsibility for theft etc.
                                    Please park your two wheelers/ other vehicles at designated place only. Parking at DDCE is at owner's risk. You are advised to double lock your vehicles. DDCE shall bear no responsibility for the safekeeping of vehicles. Number of Thefts have been reported in past.
                                    Physically challenged/ Differently-abled/ nursing mother/ pregnant women etc. who require special arrangement need to apply to Controller of Examination (COE)at least 15 days before the commencement of examination. In case of a writer being engaged, complete details of the writer including ID Proof and highest educational qualification etc. are to be provided and this needs to be approved by the Director, DDCE and Controller of Examination, Utkal University. DDCE shall not take any responsibility unless all formalities are completed as above. In case of multiple writers, the details of scribe are also to be produced. Writers should be students pursuing a lower course.
                                    Examinees are subject to physical checkup by officials both at the gate and in the examination hall.
                                    Indiscipline in any form and malpractice in any form shall be seriously viewed.
                                    Students are required to download admit cards, verify centers of examinations, subjects etc. well before commencement.
                                    Students are required to carry sealed water bottle (Poly pouch/ packet is not allowed) to the examination hall.
                                    All PG/ MBA/ OTHER EXAMINATION under CBCS have two components-(university/ Internal)-appearance and passing in both components is a requirement. Appearance at only one part would automatically lead to failure.
                                    Failed candidates are required to attend both assignment test and University exam.
                                    If any examinee will be found misbehaving the invigilator then serious action will be taken against him/her.
                                    If a student refuses to sign the Malpractice form then the Center Superintendent can also book the candidate.
                                    Visit www.ddceutkal.ac.in for Examination schedules.
                                    In case of Malpractice, the decision is taken by the appropriate committees of the University. A candidate may reappear at the subsequent examination with an undertaking.
                                    In case of non-availability of marks or being marked absent in spite of presence, Candidate is required to obtain attendance and memo copies. Further such candidates are to fill-up form for re-appearance pending location of marks.
                                    Students admitted in Computer Sc. Streams are instructed to bring their own Laptops for the Lab purpose.
                                    I have read the above, understood the content and I agree.


                                                                Declaration: The particulars furnished by me in this application form are true.  I hereby agreed to abide by all rules  and regulations, Acts and statutes of the Utkal University and DDCE and to submit myself to such disciplinary action as shall be deemed fit by the Director in case of my failure to abide by such rules and regulations.  I undertake that dispute if any is subject to jurisdiction of SDJM, Bhubaneswar and also state that my relation with DDCE , Utkal University is not a consumer and service provider.  This form has been filled and submitted by me , I am submitting the form after reading all the points carefully and by understanding  the same. 
                                    </textarea>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <input id="ctl00_ContentPlaceHolder1_CheckBox1" type="checkbox" required=""
                                    name="ctl00$ContentPlaceHolder1$CheckBox1"><label
                                    for="ctl00_ContentPlaceHolder1_CheckBox1">I have read the above, understood the
                                    content
                                    and I agree</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <input type="submit" name="ctl00$ContentPlaceHolder1$btnSubmit"
                                    value="Final Submit &amp; Print Form" id="ctl00_ContentPlaceHolder1_btnSubmit"
                                     class="BtnSubmit">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>